* {
  border: 0;
  margin: 0;
}
p {
  font-weight: bolder;
  font-size: 16px;
}
#parent {
  height: 660px;
  width: 70%;
  color: red;
  background-color: rgba(248, 50, 255, 0.258);
  margin: 20px 150px 0px 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgb(96, 92, 92);
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
#header-p {
  font-size: 25px;
  text-shadow: 1px 1px 1px black;
  font-weight: bolder;
}
#rpsIcons {
  height: 200px;
  width: 600px;
  background-color: rgb(31, 26, 26);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  box-shadow: 2px 2px 4px black;
  border-radius: 10px;
}
.rpsIcons-imgDiv {
  height: 150px;
  width: 150px;
  background-color: rgb(188, 197, 197);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rpsIcons-imgDiv:hover {
  background-color: rgb(241, 60, 90);
  box-shadow: 0px 0px 10px rgb(160, 158, 158);
}
.stoneImgBck {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}
.rpsIcons-imgDiv:hover .stoneImgBck {
  opacity: 1;
}
.rpsIcons-imgDiv:hover .rpsImg {
  opacity: 0;
}
.paperImgBck {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}
.rpsIcons-imgDiv:hover .paperImgBck {
  opacity: 1;
}
.scissorImgBck {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}
.rpsIcons-imgDiv:hover .scissorImgBck {
  opacity: 1;
}
.rpsImg {
  height: 120px;
  width: 120px;
}
#choices {
  height: 200px;
  width: 100%;
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 150px;
}
#computerChoice {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#userChoice {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.computerChoiceImg {
  height: 150px;
  width: 150px;
  margin: 25px 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.computerChoiceImg > p {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.computerChoiceImg img {
  height: 80%;
  width: 80%;
  border-radius: 100%;
}
.userChoiceImg {
  height: 150px;
  width: 150px;
  margin: 25px 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.userChoiceImg > p {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userChoiceImg img {
  height: 80%;
  width: 80%;
  border-radius: 100%;
}
#resultDiv {
  height: 30px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ScoreCard {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.scCardFooter {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
#footer {
  background-color: palevioletred;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}
#footer:hover {
  background-color: greenyellow;
  color: black;
}
#fromKeyboard {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  color: white;
  align-items: center;
  gap: 10px;
}
#keyR > p {
  height: 50px;
  width: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 2px 2px 4px black;
}
#keyPS > p {
  height: 50px;
  width: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 2px 2px 4px black;
}
#keyPS {
  display: flex;
  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
